.vscode/
.gitignore
.gitmodules
.codeclimate.yml
.travis.yml
**/.npmignore
webassembly-*.tgz
node_modules/
npm-debug.*
sandbox/
tests/
tools/**
!tools/bin/
lib/musl/**
!lib/musl/include/**
lib/musl-wasm32/**
!lib/musl-wasm32/include/**
lib/build*
