.vscode/
.gitignore
.gitmodules
.codeclimate.yml
.travis.yml
webassembly-*.tgz
node_modules/
npm-debug.*
sandbox/
tools/bin/*
!tools/bin/LICENSE*

tools/llvm/
tools/clang/
tools/compiler-rt/
tools/lld
tools/binaryen/
lib/musl/
