.vscode/
.gitignore
.gitmodules
webassembly-*.tgz
node_modules/
npm-debug.*
sandbox/
tools/bin/*
!tools/bin/placeholder

tools/llvm/
tools/clang/
tools/compiler-rt/
tools/libcxxabi/
tools/libcxx/
tools/libunwind/
tools/binaryen/
lib/musl/
